.events {
    display: flex;
    flex-direction: column;

}

.calendar {
    width: 31.2vw;
    margin-bottom: 100px;
}

.addButton {
    margin-bottom: 15px;
}

.eventListContainer {
    width: 550px;
}