.events {
    display: flex;
    flex-direction: column;

}

.calendar {
    width: 31.2vw;
    margin-bottom: 100px;
}

.addButton {
    margin-bottom: 15px;
    border: 1px solid
}

.eventListContainer {
    width: 550px;
}

.filterComponent {
    position: fixed;
    left:20px;
    
}

.filterFlex {
    display: flex;
}