.work {
  background-color: lightcoral;
}

.personal {
  background-color: lightgreen;
}

p {
  margin: 10px;
}

.editButton {
  font-size: 8px;
  background-color: lightskyblue;
  margin: 5px;
}

.deleteButton {
  font-size: 8px;
  background-color: lightpink;
  margin: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.event {
  margin: 5px;
}
