.work {
    background-color: lightcoral;
}

.personal {
    background-color: lightgreen;
}

p {
   margin: 10px;
}

.editButton {
    font-size: 8px;
    background-color: lightpink;
    margin-top: 5px;
}

.editButtonContainer {
    display: flex;
    justify-content: end;
    margin-right: 5px;
   
}