.work {
  background-color: lightsalmon;
}

.personal {
  background-color: lightcyan;
}

.name {
    font-weight: bold;
    margin: 1px;
}

.time {
    font-weight: lighter;
    margin: 1px;
}

.editButton {
  font-size: 8px;
  background-color: lightskyblue;
  margin: 5px;
}

.deleteButton {
  font-size: 8px;
  background-color: lightpink;
  margin: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.event {
  margin: 5px;
}
